.iconButton {

    width: 42px;
    height: 42px;

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 999px;

    background: rgba(116, 116, 116, 0.062);

    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);

    outline: none;

    color: var(--light-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition:
        background .25s ease,
        border-color .25s ease,
        transform .2s ease;

}

.iconButton:hover {

    background: rgba(116, 116, 116, 0.083);

    border-color: rgba(255, 255, 255, .14);

    transform: scale(.96);

}

.iconButton:active {

    transform: scale(.96);

}