.searchBar {

    width: 500px;
    height: 46px;

    padding: 0 24px;

    border: 1px solid rgba(255,255,255,.08);
    border-radius: 999px;

    background: rgba(255,255,255,.06);

    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);

    color: var(--grey);
    font-size: .95rem;

    outline: none;

    transition:
        background .25s ease,
        border-color .25s ease,
        box-shadow .25s ease;

}

.searchBar::placeholder {

    color: var(--light-grey);

}

.searchBar:hover {

    background: rgba(255,255,255,.075);

}

.searchBar:focus {

    background: rgba(255,255,255,.08);

    border-color: rgba(246, 246, 246, 0.059);

    box-shadow:
        0 0 0 1px rgba(225, 224, 224, 0.219),
        0 0 10px rgba(234, 233, 233, 0.231);

}