.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading h1 {
    color: white;

    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -2px;
}

.heading p {
    color: rgba(255,255,255,.75);

    font-size: 1rem;
    font-weight: 300;

    line-height: 1.5;
}